@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
body {
    width: 375px;
    margin: auto;
    background-color: #d5e1ef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
main {
    margin: auto;
    background-color: white;
    border-radius: 10px;
    width: 90%;
}
.image {
    text-align: center;
    padding: 10px;
}
img {
    margin-top: 10px;
    width: 95%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.229);
}
.content {
    text-align: center;
    height: 200px;
}
h1 {
    font-weight: 700;
    font-size: 1.5em;
    padding: 10px;
}
p {
    font-weight: 400;
    color: hsl(212, 45%, 89%);
    padding: 10px;
    margin: 5px 30px;
}